.navigation-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: 3rem;
  }
  .nav-btn {
    margin-right: 2rem;
    .nav-items {
      .nav-item {
        list-style: none;
        display: inline;
        padding: 1.5rem;
        a {
          text-decoration: none;
          color: inherit;
        }
        .active {
          color: #90d5b1;
        }
      }
    }
  }
}

.navigation-bar.home {
  color: #f3f5f8;
  background-color: #595d64;
}

.navigation-bar.about {
  color: #595d64;
  background-color: #f3f5f8;
}

.navigation-bar.portfolios {
  color: #f3f5f8;
  background-color: #595d64;
}

.navigation-bar.contact {
  color: #595d64;
  background-color: #f3f5f8;
}
