@mixin pad {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@import "./Styles/Components/navigationBar";
@import "./Styles/Components/title";
@import "./Styles/Pages/pageLayout";
@import "./Styles/Pages/homePage";
@import "./Styles/Pages/aboutPage";
@import "./Styles/Pages/portfoliosPage";
@import "./Styles/Pages/contactPage";
@import "./Styles/Components/aboutSection"; 
@import "./Styles/Components//skillsSection";
@import "./Styles/Components/progressBar";
@import "./Styles/Components/portfoliosCard";

// gray #595d64
// white #f3f5f8
// blue #89acd2
// green #90d5b1
// "@fortawesome/fontawesome-svg-core"
// "@fortawesome/free-solid-svg-icons"
// "@fortawesome/free-brands-svg-icons"
// "@fortawesome/react-fontawesome"

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #f3f5f8;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.App {
  .nav-bar {
    height: 10vh;
  }
  .main-content {
    height: 90vh;
  }
}
